.title-h3 {
  font-size: 120px;
  text-align: center;
  line-height: 140%;
  font-weight: 400;
  color: #8e7ada;

  padding-bottom: 10rem;
  padding-top: 8rem;
}

.gallery {
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: contain;
}
@media (max-width: 908px) {
  .title-h3 {
    font-size: 84px;
  }
}

@media (max-width: 508px) {
  .title-h3 {
    font-size: 44px;
  }
}

@media (max-width: 308px) {
  .title-h3 {
    font-size: 26px;
  }
}
