<footer>
  <h3>Hope</h3>
  <article>
    <div class="contact">
      <span>Contact</span>
      <span> 1800 123 4567 </span>
      <span> info&#64;Hope.io </span>
      <div class="social">
        <img src="/Icon/Facebook.png" alt="" />
        <img src="/Icon/Instagram.png" alt="" />
        <img src="/Icon/Twitter.png" alt="" />
        <img src="/Icon/LinkedIn.png" alt="" />
      </div>
    </div>

    <div class="links-container">
      <div class="links">
        <span>About us</span>
        <span> Campaigns</span>
        <span>Get Involved</span>
        <span>Contact us</span>
      </div>
      <div class="links">
        <span>About us</span>
        <span> Campaigns</span>
        <span>Get Involved</span>
        <span>Contact us</span>
      </div>
    </div>
  </article>
  <div class="copyrigth">
    <span>&copy; 2021 Hope. All rights reserved.</span>
    <div>
      <span>Privacy Policy</span>
      <span>Terms of Service</span>
    </div>
  </div>
</footer>
